@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #9fe870;
  --color-secondary: #173303;
  --color-accent: #e2f6d5;
  --color-accent-2: #eff1ee;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-inter);
  --font-curly: var(--font-praise);
  --font-cherry-bomb: var(--font-cherry-bomb-one);
  --color-account-blue: #3b82f6;
  --color-account-green: #22c55e;
  --color-account-yellow: #eab308;
  --color-account-coral: #f97316;
  --color-account-red: #ef4444;
  --color-account-lavender: #c4b5fd;
  --color-account-peach: #fbcfe8;
  --color-account-mint: #d1fae5;
  --color-account-blush-pink: #fbcfe8;
  --color-account-pale-orange: #fde68a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-image: linear-gradient(to bottom right, #f9fafb, #ffffff, #f3f4f6);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
