@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #9FE870;
  --color-secondary: #173303;
  --color-accent: #E2F6D5;
  --color-accent-2: #EFF1EE;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-work-sans);

      --color-account-blue: #3B82F6;
      --color-account-green: #22C55E;
      --color-account-yellow: #EAB308;
      --color-account-coral: #F97316;
      --color-account-red: #EF4444;
      --color-account-lavender: #C4B5FD;
      --color-account-peach: #FBCFE8;
      --color-account-mint: #D1FAE5;
      --color-account-blush-pink: #FBCFE8;
      --color-account-pale-orange: #FDE68A;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
